/*Google font - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #f4f4f4;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 10px;
}

nav h3 {
    font-size: 20px;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}

main {
    padding: 10px;
}

main h1 {
    /* font-size: 30px; */
    font-weight: bold;
}

main p {
    font-size: 20px;
    font-weight: bold;
}

table th {
    background-color: aqua;
    font-weight: bold;
    color: black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

